# Week 1: Introducing Pandas

![dataframe](images/dataframe.png)

[Pandas](https://pandas.pydata.org/) is a Python library that specialises in managing, manipulating and analysing *tabular* data.

Tabular data is perhaps the most ubiquitous data type out there, consisting of columns containing *variables* ("species name", "height", "is deciduous", "longevity") and rows containing *observations* ("oak", "20 meters", "True", "1000 years").

Tabular data sits at the heart of many databases (often employing [SQL](https://docs.microsoft.com/en-us/sql/odbc/reference/structured-query-language-sql?view=sql-server-ver15)).

Excel is also set out in a tabular manner although often not in a way that is friendly to analysis because Excel invites people to present with the same tables that they run their analyses on.

While it is intuitive, tabular data is not a 'natural' way to store information. We often have to make serious decisions regarding about how information will be translated into tabular data. We must decide on the variables we will include in our dataset and then on how we will gather our observations. These are not trivial considerations.

## In this tutorial

While there is no replacement for reading [the documetation](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html) (and keeping it in a tab as you work), let us examine some elements in using pandas.

* creating dataframes
* manipulating data
* importing dataframes
* creating new information

We will also explore some key components in good data management, namely:

* Comments
* Codebooks
* Version control (if we have time)

# Data types in Python

Python has a number of different methods for holding data. Three types are:

## Lists

Note the syntax: lists are denoted by square brackets.

In [ ]:
# make list

In [ ]:
# a for loop squaring a list

## Tuples

These are more memory efficient than lists but are immutable, meaning that you can't change them once you place values inside them.

In [ ]:
# make tuple

In [ ]:
# amend list

In [ ]:
# amend tuple

## Dictionaries

Dictionaries have keys and values. Values can be elements, lists etc

Note the syntax `import numpy as np`: this imports the [numpy library](https://numpy.org/) and gives it the shorthand name 'np' for ease of use.

A library is a file full of functions and sometimes bespoke data types, usually with a specific purpose. Numpy is short for "numerical python" and is aimed at scientific computing (in essence, maths). Pandas gives us a "dataframe" data type and a load of functions for manipulating those dataframes.

In [ ]:
import numpy as np

trees_dict = {"species": ["oak", "london plane", "hazel", "elm", "ash", "alder", "hawthorn", "yew"],\
         "latin": ["Quercus robur", "Platanus x hispanica", "Corylus avellana", "Ulmus minor",\
                   "Fraxinus excelsior", "Alnus glutinosa", "Crataegus monogyna", "Taxus baccata"],\
         "longevity": [1000, 350, 80, np.NaN, 400, 28, 700, 900],\
         "height_m": [20, 35, 12, 30, 35, 60, 15, 20],\
              "height_rank": [5, 2, 7, 4, 2, 1, 6, 5],\
         "is_deciduous": [True, True, True, True, True, True, True, False]}

Note we can call elements in a dictionary by name, which is pretty handy.

# Creating dataframes

Manual entry as strategy for creating a dataframe:

*  Cumbersome
* Error-prone
* NOT EXACTLY SCALABLE

You will recall the main data types in Python: lists, tuples and dictionaries.

Pandas dataframes are based on 'Series', which are very much like dictionaries: named lists. 

Each column in a dataframe is a Series/dictionary. It has the special feature that each observation in the Series must be of the same type: largely numeric, string/categorical, or boolean (True/False).

So, we can import dictionaries straight into pandas Dataframes

In [ ]:
import pandas as pd
# even though we already did this above
import numpy as np
import seaborn as sns

In [ ]:
# import dataframe

**Note**: 

* The index: it's role and utility
* Variable types: numeric; categorical; ordinal; boolean
* *Data* types

In [ ]:
# The dataframe is of type dataframe

In [ ]:
# Each column is of type Series

In [ ]:
# Each observation is of type "str" or "float" or "bool"

## Using the index

We can isolate rows by index using [iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html). In essence iloc takes the form;

`dataframe.iloc[rows, columns]`

Note the use of `:` alone to stand for 'all' or with integers (`0:1`) to denote a range of rows or columns.

`iloc` operates as following:

In [ ]:
# Use iloc

Or with a `slice` object:

In [ ]:
# two columns

In [ ]:
# two rows

In [ ]:
# A list of integers to retrieve specific index items

In [ ]:
# Rows 2, 3 and 4

Note above: iloc is somewhat idiosyncratic (in my view). Beware that you are retrieving what you think you are retrieving from the data!

Note above the use of list objects in calling the rows and columns

Mostly we would either:

1. identify columns by their names or 
2. identify rows by some condition

In [ ]:
# select some columns


# select some rows

# with Boolean data you can go with:

# or:

# ... where the ~ matches cells containing "False"

In [ ]:
# show some_rows_bool

## Importing data

The tabular data you require in this module is generally held in 'comma separated value' (csv) files and have been tidied a bit for you.

Let us import a csv file created in 2015, listing [every tree in the Belfast City Council area](https://www.opendatani.gov.uk/dataset/belfast-trees/resource/b501ba21-e26d-46d6-b854-26a95db78dd9).

If the file was in your folder, you could import with:

`pd.read_csv("FILENAME.csv")`

As it is let's import the dataset directly from the Open Data NI website. You'll see that it is *much* bigger than the one we created above!

In [76]:
# First create an object called url (for brevity)
url = "https://www.belfastcity.gov.uk/getmedia/262a1f01-f219-4780-835e-7a833bdd1e1c/odTrees.csv"

belfast_trees = pd.read_csv(url)

C:\Users\2089319\AppData\Local\Temp\ipykernel_20468\1646306615.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  belfast_trees = pd.read_csv(url)

Note the strange warning:

`C:\Users\cokel\.miniconda\envs\module\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)`

Let's try to figure this out by looking a bit at the data:

In [ ]:
belfast_trees

In [ ]:
sns.set(rc={"figure.figsize": (16, 8)})

sns.scatterplot(x = "TREELOCATIONX",
                y = "TREELOCATIONY",
                data = belfast_trees,
               hue = "TYPEOFTREE")

# Where are the Handkerchief trees?!

In [ ]:
belfast_trees.query("SPECIESTYPE == 'Handkerchief'")

In [68]:
# Definition to check for hankerchief tree

In [ ]:
sns.set(rc={"figure.figsize": (16, 8)})

sns.scatterplot()

---

# Count how many trees there are per species

I did this pretty awkwardly in class. There is an easier way in the documentation (that I ought to have known about!): **`groupby` then `size`**. Let's try it, then sort by number:

In [ ]:
# count by species

## Missing data

Note that speciestype data is missing for 166 trees, registered here as "Not Known".

In [ ]:
belfast_trees.query("SPECIESTYPE == 'Not Known'")

That's interesting and troubling. Here we have missing data but instead of `np.nan`, the dataset has had 'not known' entered. If we were performing an analysis here we'd have to decide how to handle that data.

Finally let's group by both Species and whether the tree is in a park or on a street, then sort by species in alphabetical order. Note that I nest the `groupby` and `sort_values` operations in `pd.DataFrame` in essence so it returns something that is easier to manage and more pleasant to look at.

In [77]:
new_df = pd.DataFrame(belfast_trees.groupby(["SPECIESTYPE", "TYPEOFTREE"]).size()).sort_values(by = ["SPECIESTYPE"], ascending = True).reset_index()

new_df

        SPECIESTYPE  TYPEOFTREE     0
0             Alder    ParkTree  1681
1             Alder  StreetTree     6
2       Amelanchier    ParkTree    43
3             Apple    ParkTree    75
4             Apple  StreetTree    12
..              ...         ...   ...
78  Western Hemlock    ParkTree    32
79           Willow    ParkTree   905
80           Willow  StreetTree     2
81              Yew    ParkTree   309
82            Yucca    ParkTree     8

[83 rows x 3 columns]

Note above that I use `reset_index()` at the end of the operations. The `groupby` function in essence turns `SPECIESTYPE` and `TYPEOFTREE` into the index for the dataframe. This can be pretty useful both in managing and retrieving data. Try running the function above *without* `reset_index`. Here I want to treat the two columns as columns. So `reset_index` restores a numeric index, from 0 to 82. For more on Pandas indexing see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).

In [ ]:
all_trees.describe()

# Merge the datasets

In this section I am going to:

1. [Merge](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) the trees_df and belfast_trees dataframes
2. Discard columns I don't need
3. Calculate the different between the maximum height in the Woodland Trust data and each individual tree in the Belfast trees data

### Concat or merge?

* Concat for adding rows: make sure column names match (see penguins notebook)
* merge for bringing columns together

In [ ]:
# Join the dataframes

#Rename the tree names in the belfast trees dataframe and lowercase


# Merge the dataframes on the species_lower column - this simple merge will

In [ ]:
# Select useful columns (not using iloc this time)

all_trees = all_trees[["species", "latin", "TYPEOFTREE", "AGE", "CONDITION", "TREEHEIGHTinMETRES", "height_m"]].\
    rename(columns = {"AGE":"Age", "TYPEOFTREE": "type_of_tree", "CONDITION": "Condition", "TREEHEIGHTinMETRES": "Tree_height_m", "height_m": "Species_height_m"})

## Explore the new dataframe

In [ ]:
all_trees.head()

In [ ]:
all_trees.info()

In [ ]:
all_trees.describe()

# Codebooks: an aside

Codebooks are used by researchers both to:

1. document and if necessary guide teams in construcing data and
2. to guide users regarding the layout and definitions of data in a repository.

You need to be aware of Codebooks and how to read them.

Alison Hurst's [introduction to the Penguins dataset](https://allisonhorst.github.io/palmerpenguins/) gives a good guide to how the data is shaped and what it contains.

Also see the [V-Dem Codebook](https://www.v-dem.net/static/website/img/refs/codebookv12.pdf) for your test. It is *not* formatted in a helpful manner.

In [104]:
all_trees_speciesmean = all_trees[["species", "Tree_height_m"]]
all_trees_speciesmean = all_trees_speciesmean.groupby(["species"]).aggregate(np.mean).sort_values("Tree_height_m", ascending = False).reset_index()
all_trees_speciesmean

    species  Tree_height_m
0       ash      15.668372
1     alder      15.446354
2       oak      14.764055
3       yew       8.106796
4  hawthorn       7.368000
5       elm       7.006135
6     hazel       2.726872

### Add new data: categorical operations

**Let us create a new category of deviations of each Belfast tree from the normal tree species height (according to [the Woodland Trust](https://www.woodlandtrust.org.uk/trees-woods-and-wildlife/british-trees/a-z-of-british-trees/)): large, medium and small**

In [ ]:
def deviation_cats(deviation):
    if deviation <= 2:
        return("small")
    elif deviation <= 7 > 2:
        return("medium")
    else:
        return("large")

In [ ]:
all_trees["deviation_extent"] = all_trees["actual_deviation"].apply(lambda x: deviation_cats(x))


all_trees.sort_values("deviation_extent", ascending=True)

In [ ]:
all_trees["deviation_extent"].unique()

On Lambda expressions, which are a kind of "control flow", see the Python documentation [here](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions).

# Reshaping the dataset

## Research questions

1. what species dominate in streets and parks?
2. is tree condition related to type of tree?
3. do different species do better in streets or parks?

Question one is perfect for a reshaping exercise.

In essence, we are focused on **counting** and **comparisons**.

### Start by selecting specfic columns

In [ ]:
# Select the columns to work with

trees_by_place = all_trees[["species", "type_of_tree", "Age", "Condition"]].reset_index()
trees_by_place

**Note: reset.index()**

In [ ]:
trees_by_place2 = trees_by_place.groupby(["type_of_tree", "species"]).size().reset_index()
trees_by_place2 = trees_by_place2.rename(columns={0: "count"}).sort_values("count", ascending = False)
trees_by_place2

### Pivot Wider

In [ ]:
trees_per_place_wider = trees_by_place2.pivot(index = "type_of_tree",\
                                             columns="species",\
                                             values = "count").reset_index()

In [ ]:
trees_per_place_wider

### And longer again...

In [ ]:
trees_per_place_longer = trees_per_place_wider.melt(id_vars="type_of_tree",
                                                   value_vars = ["alder", "ash", "elm", "hawthorn", "hazel", "oak", "yew"],
                                                   value_name = "population")

trees_per_place_longer

# Longer tables are better for pictures

In [ ]:
sns.catplot(x = "species", y = "population", hue = "type_of_tree", data = trees_per_place_longer, kind = "bar")

# Wider tables are also known as 'contingency' tables

Although they might be better off expressed in percentage terms

In [ ]:
trees_per_place_wider

### Percentages by Row

In [ ]:
trees_per_place_wider[["alder", "ash", "elm", "hawthorn", "hazel", "oak", "yew"]] = trees_per_place_wider[["alder", "ash", "elm", "hawthorn", "hazel", "oak", "yew"]].\
    apply(lambda x: (x/x.sum())*100, axis=1)

trees_per_place_wider.round(decimals = 2)

**Moral**: counting the selection of tree species as 100%, almost 50% of these trees in parks are either Yew or alder trees. Over 60% of street trees of this type are either Hazel or Elm trees.

### Percentages by Column

In [ ]:
trees_per_place_wider[["alder", "ash", "elm", "hawthorn", "hazel", "oak", "yew"]] = trees_per_place_wider[["alder", "ash", "elm", "hawthorn", "hazel", "oak", "yew"]].\
    apply(lambda x: (x/x.sum())*100, axis=0)

trees_per_place_wider.round(decimals = 2)

**Moral**: All Yew trees and almost all Alders in Belfast are in parks whereas almost all Hazel trees are on the street. Oaks are almost split 50:50.

# Questions?